.editor-image {
  position: relative;
}

.upload-image-container {
  text-align: center;
  padding: 18.5px 0;
  border: 1px dashed var(--ws-gray-200);
  border-radius: 6px;
  margin-bottom: 14px;
  color: #bdbbbb;
}

.upload-image-container-tip {
  font-size: 12px;
  color: var(--ws-gray-400);
  font-weight: 500;
  margin-top: 6px;
}

.border-dashed {
  border: 1px dashed #ccc; /* Adjust the width and color as needed */
}

.editor-image-tab-actions {
  margin-top: 5%;
}

.left_tabs {
  width: 50%;
  position: fixed;
  left: 0%;
  margin-top: 3%;
}
